server:
  port: 8082
  
spring:
  profiles: default
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQL57Dialect
  datasource:
    url: jdbc:mysql://localhost:3306/mysql?serverTimezone=Asia/Seoul
    username: root
    password: root12345
    driverClassName: com.mysql.cj.jdbc.Driver
#  datasource:
#    url: jdbc:mysql://${_DATASOURCE_ADDRESS:104.154.156.17:3306}/${_DATASOURCE_TABLESPACE:my-database}
#    username: ${_DATASOURCE_USERNAME:my-user}
#    password: ${_DATASOURCE_PASSWORD:my-password}
#    driverClassName: com.mysql.cj.jdbc.Driver
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
      bindings:
        input:
          group: seats
          destination: pcroom
          contentType: application/json
        output:
          destination: pcroom
          contentType: application/json
